nav {
    background-color: cadetblue;
    background-image: url(../assets/images/adventure-alps-amazing-552785.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: 1px 1px 5px #000000;
}